* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 50px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}



.titulo {
    color: rgb(3, 66, 129);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 400px;
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86272e, #4d0174, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f5a75, #c471ed91, #12c2e988), url(../img/cabecera-aves.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 40px 60px 0 0;
}

nav>a {
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
}

nav>a:hover {
    color: rgb(86, 8, 195);
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
}

header .textos-header {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    margin-top: 30px;
    font-size: 60px;
    color: white;
}

.textos-header h2 {
    font-size: 50px;
    font-weight: 300;
    color: white;
}

.textos-header h2 {
    font-size: 50px;
    font-weight: 300;
    color: white;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*NUESTROS SERVICIOS*/

.about-services {
    background: hsl(0, 0%, 100%);
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind a {
    margin: 30px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: center;
}

.action__Botton {

    background-color: rgb(180, 6, 180);
    display: inline-block;
    padding: 10px;
    text-decoration: double;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 40%;
}


/*iconos de redes sociales*/
.conten_social {
    display: grid;
    justify-content: center;


}



.card_texto {

    padding: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 20px;
}


/*imagen del mapa de santiago*/
.img_Santiago {

    font-size: 10px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;

}

/*imagen del mapa de transporte*/
.img_Transporte {

    font-size: 10px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

h2 {
    font-family: 'open sans';
    margin: 40px;
    text-align: center;
    color: rgb(10, 10, 10)
}


    

/*contenedor de la tabla*/
#main_container {

    margin: 150px auto;
    width: 600px;

}

/*color de la tabla //posicionamiento //alineacion de texto*/
table {
    font-family: 'open sans';
    /*background-color: rgb(191, 93, 248);*/
    text-align: center;
    width: 100%;
    border-collapse: collapse;

}

/*BORDES DEL CUADRO. CAMBIO DE COLOR*/
th,
td {

    border:1px solid blanchedalmond;
    padding: 12px 15px;
    border-radius: 5px;
}

@media (max-width: 500px) {

.table {
display: none;

}

.table, .table tr, .table th, .table td {

    display: block;
    width: 100%;
} 

.table tr{

margin-bottom: 15px;


}


.table td {
text-align: right;
padding-left: 50%;
text-align: right;
position: relative;


}

.table td::before {

content: attr(data-label);
position: absolute;
left: 0;
width: 50%;
padding-left: 15px;
font-size: 15px;
font-weight: bold;
text-align: left;

}





}
/*CAMBIO DE COLOR DEL ENCABEZADO DEL CUADRO**
thead {

    background-color: lemonchiffon;
    border-bottom: solid 5px;

}

/*RESALTAR CON OTRO COLOR EL CUADRO AL POSICIONAR EL PULSOR SOBRE EL CUADRO**
tr:hover {
    background-color: rgb(219, 200, 27);*/



.cardMarcas__comerciales {

    font-size: 10px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;

}

.servicio-canal-de-venta {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 60px;
}

/*Formulario*/
.formulario {

    background-color: rgb(231, 25, 180);
    font-size: 20px;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    width: 325px;
}


@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }

    /*clientes*/

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 90%;
    }

    .cards .card:first-child {
        margin-bottom: 30px;
    }

    /*servicios*/

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }



    @media screen and (max-width:500px) {
        nav {
            text-align: center;
            padding: 30px 0 0 0;
        }

        nav>a {
            margin-right: 5px;
        }

        .textos-header height {
            font-size: 35px;
        }

        .textos-header h2 {
            font-size: 20px;
        }

        /*about as*/

        .imagen-about-us {
            margin-bottom: 60px;
            width: 99%;
        }

        .sobre-nosotros .contenido-textos {
            width: 95%;
        }

        /*galeria*/

        .image-port {
            width: 95%;
        }

        /*clientes*/

        .cards .card {
            height: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cards .card img {
            width: 90px;
            height: 90px;
        }
       

    }
}

h5 {
    font-family: 'open sans';
    width: 100%;
    text-align: center;
}

.container{

    display: grid;
    grid-gap:5px;
    grid-template-areas: 
    'A'
    'B'
    'C'
    'D';
}



@media (min-width: 576px) {
    .container {
grid-template-columns: 1.52fr 1fr 1fr 1525fr;
grid-template-areas: 'A B C D';

    }
}

img:nth-child(1) {
grid-area: A;

}

img:nth-child(2) {
    grid-area: B;

}

img:nth-child(3) {
    grid-area: C;

}

img:nth-child(4) {
    grid-area: D;

}




